.imagem1 {
  height: 50vh;
  width: 50vw;
}

.backgroundTransparente {
  background-color: rgba(41, 41, 41, 0.822);
}

.imagemFinal {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCaatalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(41, 41, 41, 0.822);
  /* padding: 1rem; */
  color: #fff;
  width: 90%;
  margin-left: 4%;
}

.fixed {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.marginDesktop {
  margin-top: 21rem;
  display: flex;
  flex-wrap: wrap;
}

.btnFixado {
  position: fixed;
  z-index: 999;
  top: 200px;
  left: 16vw;
  background-color: rgba(41, 41, 41, 0.822);
  color: rgba(255, 255, 135, 1);
  border: none;
  border-radius: 3px;
  padding: 1rem;
}

.codigoApliqueEscolha {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o texto completamente */
  z-index: 1; /* Garante que o texto esteja acima da imagem */
  color: rgb(0, 0, 0); /* Cor do texto, ajuste conforme necessário */
  font-size: 18px; /* Tamanho da fonte, ajuste conforme necessário */
  font-weight: bold; /* Peso da fonte, ajuste conforme necessário */
  background-color: rgba(182, 182, 182, 0.863);
  padding: 2px 5px;
  border-radius: 5px;
}

.cursorPointer {
  cursor: pointer;
}

@media (max-width: 750px) {
  .imagem1 {
    height: 15rem;
  }
  .backgroundTransparente {
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.822);
    display: flex;
  }
  .imagemFinal {
    transform: rotate(90deg);
  }
  .fixed {
    position: static;
    width: 100vw;
    text-align: center;
  }

  .btnFixado {
    top: 70px;
    left: 10px;

    padding: 1rem;
  }
  .codigoApliqueEscolha {
    top: 65%;
    left: 50%;
  }

  .marginDesktop {
    margin-left: 5rem;
  }
}
