.contentCalculadoraCamaPhant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

.sombra {
  background-color: rgba(20, 20, 20, 0.253);
  padding: 25px;
  margin: 20px;
  border-radius: 5px;
  min-width: 70vw;
}

.contentCalculadoraCamaPhantFormEResultado {
  padding: 25px;
  margin: 20px;
  display: flex;
}
.contentCalculadoraCamaPhant h3 {
  text-align: center;
  text-decoration: underline;
}

.formularioCalculadoraCamaPhant {
  width: 30vw;
}

.formularioCalculadoraCamaPhant div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioCalculadoraCamaPhant div label {
  width: 50%;
  text-align: left;
  margin-left: 10px;
}
.formularioCalculadoraCamaPhant div input {
  /* width: 50%; */
  border-radius: 3px;
  border: none;
  padding: 1px 15px;
}

.formularioCalculadoraCamaPhant div select {
  width: 50%;
  border-radius: 3px;
  border: none;
  padding: 1px 15px;
}

.formularioCalculadoraCamaPhant button {
  border-radius: 3px;
  border: none;
  padding: 5px 15px;
  margin-top: 15px;
}

.resultadoCalculadoraCamaPhant {
  position: relative;
  width: 30vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultadoCalculadoraCamaPhant div {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.resultadoCalculadoraCamaPhant div label {
  margin-right: 15px;
}

.resultadoCalculadoraCamaPhant div p {
  font-size: 18px;
  color: #ccd85f;
}

.resultadoCalculadoraCamaPhant .resultadoLencol p {
  margin-right: 15px;
}
