.contentHome {
  padding-top: 10vh;
}
.butons button {
  width: 15rem;
  height: 5rem;
  margin: 1rem;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s ease-in;
  font-size: 1.5rem;
  font-weight: bold;
}

.butons button:hover {
  background: rgba(0, 0, 0, 0.452);
}

.modal-overlay {
  background: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.divBtnLogout {
  width: 100%;
  padding: 2rem;
}

.divBtnLogout button {
  margin-left: 2rem;
}
