.iconHome {
  font-size: 4rem;
  margin: 1rem;
  color: bisque;
  transition: .3s;
}

.iconHome:hover{
  scale: 1.1;
}

.homeCards {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.homeCards:hover{
  color: rgb(182, 44, 44);
}

.p-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 15rem;
  color: bisque;
}



.container {
  margin-top: -4rem;
}

.card {
  width: 20rem;
  height: 25rem;
}