.logoHeader {
  width: 2.5rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-left: 1rem;
  box-shadow: 0 1px 40px 0 rgba(11, 126, 36, 0.521);

}

.centralize p{
  height: 100%;
  display: flex;
  margin: 10px;
  transition: .5s;
  cursor: pointer;
}

.centralize p:hover {
  color: rgb(42, 165, 118);
  scale: 1.2;
}

