.imagem1 {
    height: 50vh; 
    /* width: 20; */
    
}

.teste2{
    width: 100vw;
    /* height: 100vh; */
    background-color: rgba(41, 41, 41, 0.822);
}



.teste {   
    /* background-color: rgba(41, 41, 41, 0.822); */
    margin-top: 1rem  ;
    padding: 2rem ;
    height: 70vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.buttonCaatalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(179, 179, 14, 0.589);
    padding: 1rem;
}

.buttonCaatalogo p {
    font-weight: 600;
    font-size: large;
}

.buttonCaatalogo button {
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(223, 144, 41, 0.719);
    font-weight: 500;
    margin-bottom: 1rem;

}

.buttonCaatalogo button:hover {
    background-color:  rgba(223, 144, 41, 0.877) ;
}


@media (max-width: 590px) {
    
    .imagem1 {
        height: 15rem; 
        /* width: 20rem; */
    }
    .teste2{
        width: 100vw;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.822);
        display: flex;
       
        margin: 1.5rem;
        
    }
    .teste {   
        /* display: flex; */
        /* justify-content: flex-start; */
        /* margin: 2rem ; */
        /* align-items: center; */
        transform: rotate(90deg);

        /* width: 100rem; */
        /* height: 100rem;  */
        /* width: 100vw;
        height: 100vh; */

        
    }
}

