.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #333333f3;
  color: white;
  overflow-y: auto;
  z-index: 98;
  font-size: 13px;
}

.sidebar:hover {
  left: 0; /* Quando o mouse passa por cima, move o sidebar para a posição visível */
  background-color: #333333f3;
}

.iconMenu p {
  font-size: 10px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #ffffff; /* Cor da seta */
  transition: left 0.5s ease; /* Adiciona uma transição suave para a mudança de direção */
  /* Rotaciona a seta para a direita por padrão */
  transform: rotate(0deg);
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 135, 0.712);
}

.sidebar::-webkit-scrollbar-track {
  background-color: rgba(71, 71, 71, 1); /* Cor da pista da barra de rolagem */
}

.sidebar-logo img {
  width: 4rem;
  height: 4rem;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-items a {
  display: block;
  color: rgb(150, 150, 150);
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 5px;
  transition: all 0.3s;
}

.sidebar-items a:hover {
  color: rgba(255, 255, 135, 1);
}

.sidebar-icon {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sidebar-items p {
  text-decoration: underline;
  font-weight: bolder;
  margin-left: 10px;
}

/* BTN Logout */
.btnLogout {
  position: absolute;
  bottom: 40px;
}

.menuMobile {
  display: none;
}

/* Dropdown */
.dropdown {
  /* position: fixed; */
  display: inline-block;
}

.dropbtn {
  background-color: rgba(255, 255, 135, 0.712);
  color: rgba(71, 71, 71, 0.664);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  position: fixed;
  z-index: 999;
}

.dropbtn:hover {
  background-color: rgba(255, 255, 135, 1);
  color: rgba(71, 71, 71, 1);
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    /* transform: translateX(-%); */
    /* display: none; */
    background-color: #333333bb;
    margin-left: -200px;
  }
}
