.contentAplique {
  padding-top: 10vh;
}

.contentAplique h1 {
  margin: 3rem 0 3rem 5rem;
  font-size: 10vh;
}

.divBtnBack {
  width: 90%;
  text-align: right;
  margin: 3rem 0;
}

.btnBack {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s ease-in
}

.btnBack:hover {
  background: rgba(61, 57, 57, 0.452);
}

.btnAdd {
  margin-right: 1rem;
  width: 13rem;
  background: rgba(139, 165, 46, 0.637);
}

.btnAdd:hover {
  background: rgb(139, 165, 46);
}

.btnEdit {
  width: 5rem;
  height: 3.5vh;
  margin: 0.5rem;
  background: rgba(63, 111, 167, 0.637);
  transition: 0.3s ease-in;
  border-radius: 5px;
}

.listAplic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.cart {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  width: 300px;
  height: 450px;
  transition: 0.2s ease-in;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cartRed {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  width: 300px;
  height: 450px;
  background: rgba(83, 26, 26, 0.767);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.numberCart {
  color: white;
  margin-bottom: 0.5rem;
}

.quantCart {
  font-size: large;
  font-weight: bold;
}

.cart span {
  font-size: 1.5rem;
  font-weight: bold;
}

.imgCart {
  width: 250px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 5px;
}

.green {
  color: rgb(42, 161, 78);
}

.red {
  color: rgb(197, 0, 0);
}

.display {
  display: none;
}

.Appfilter {
  width: 100%;
}

.Appfilter input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: .3rem;
  outline: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.548);
}

.filtrados {
  display: flex;
  width: 100%;
}

.inputCheck {
  margin-left: 8rem;
  font-size: 1.2rem;
}

.linkFiltro:hover {
  cursor: pointer;
  color: rgba(196, 107, 23, 0.582);
}

@media screen and (max-width: 568px){
  .contentAplique h1 {
    font-size: 5vh;
    
  }

  .divH1 {
    margin: 0 0 0 -2.5rem;
  }

  .divBtnBack {
    margin:  0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnBack {
    width: 7rem;
    height: 3rem;

  }
  .btnAdd {
    width: 8rem;
    background: rgba(139, 165, 46, 0.637);
  }

  .btnEdit {
    width: 7rem;
    height: 2rem;
  }
}