.btnAdd {
  margin-right: 1rem;
  width: 13rem;
  background: rgba(139, 165, 46, 0.637);
}

.btnAdd:hover {
  background: rgb(139, 165, 46);
}

.listAplic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alingListCards{
  display: flex;
  justify-content: center;
}

.card{
  margin: 20px 20px; 
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}