.apliClient {
    padding-top: 10vh;
    background-color: rgb(164,164,163);
}


.cardcliente {
    box-shadow: 0 0 10px  rgb(198, 226, 39);
    height: 400px;
}

.displayApliClien {
    display: none;
}